@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

:root{
    --title-col: #525252;
    --text-fon-col: #A3A3A3;
}

.grupoSec{
    max-width: 40rem;
    min-width: 30rem;
    box-shadow: 0 0 5px #000;
}

.diH{
    text-align: center;
    width: 100%;
    background-color: var(--title-col);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #000;
    max-height: 10vh;
}

.divHD{
    width: 100%;
    background-color: var(--text-fon-col);
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
}

@media screen and (max-width: 667px){
    .grupoSec{
        max-width: 22rem;
        min-width: 20rem;
    }
}

.titH{
    margin: 0;
    text-transform: uppercase;
    padding: 0.5rem;
}


.homeIm{
    margin: 0;    margin-bottom: 0;
    width: 18.75rem;
    height: 12.5rem;
    box-shadow: 0 0 3px #000;
}

.pHome{
    margin: 0;
    padding: 0 1rem;
    text-align: justify;
    text-justify: inter-word;
}

