:root{
    --distancia-cuad: 1rem;
}

.divI{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(165, 165, 165, 0.281);
    border: 0 0 1px rgba(88, 88, 88, 0.281);
    box-shadow: 0 0 2px #000;
    padding: 1rem;
    gap: 1rem;
}

.pMenus{
    margin: 0;
    text-align: justify;
    text-justify: inter-word;
}

h4{
    margin: 0;
    font-weight: 900;
}

.divseat,
.divphila,
.divtuna,
.divcali{
    width: 17.1875rem;
    height: 9.6875rem;
    box-shadow: 0 0 2px #000;
    background-size: cover;
    background-position: center;
}

.divseat{
    background-image: url('images/seattleroll.jpg');
}

.divphila{
    background-image: url('images/philaroll.jpg');
}

.divcali{
    background-image: url('images/californiaroll.jpg');
}

.divtuna{
    background-image: url('images/spicyroll.jpg');
}

.contMenu{
    padding: 0 .625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--distancia-cuad);
    height: 100%;
}

.divPrimero{
    display: flex;
    gap: var(--distancia-cuad);
}

.divSegundo{
    display: flex;
    gap: 1rem;
}

.divI{
    transition: 0.25s;
}

.divI:hover{
    transform: scale(1.01);
}


@media screen and (max-width: 725px){
    .divPrimero{
        flex-direction: column;
    }
    .divSegundo{
        flex-direction: column;
    }
    .divHD{
        justify-content: center;
        align-items: center;
    }
}

