.divI{
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(165, 165, 165, 0.281);
    border: 0 0 1px rgba(88, 88, 88, 0.281);
    box-shadow: 0 0 2px #000;
    margin-left: 10px;
    margin-right: 10px;
}

.pMenus{
    margin-top: 0;
}

.divseat,
.divphila,
.divtuna,
.divcali{
    width: 90%;
    height: 70%;
    margin-top: 10px;
}

.divseat{
    content: url('images/seattleroll.jpg');
}

.divphila{
    content: url('images/philaroll.jpg');
    height: 48%;
}

.divcali{
    content: url('images/californiaroll.jpg');
}

.divtuna{
    content: url('images/spicyroll.jpg');
    height: 51%;
}

.contMenu{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divPrimero{
    display: flex;
    margin-bottom: 15px;
}

.divSegundo{
    display: flex;
    margin-bottom: 15px;
}

.divI{
    transition: 0.25s;
}

.divI:hover{
    transform: scale(1.02);
}


@media screen and (max-width: 725px){
    .divPrimero{
        flex-direction: column;
    }
    .divSegundo{
        flex-direction: column;
    }
    .divHD{
        justify-content: center;
        align-items: center;
    }
    .divI{
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
    }
}

